@charset "utf-8";
*{font-family: "Helvetica Neue","Helvetica","Lucida Grande","Arial","Hiragino Sans GB","Microsoft Yahei","WenQuanYi Micro Hei","sans-serif";
margin: 0;padding: 0;border:none;text-align:left;}
ul,li{list-style-type: none;}
body{font-family: "Helvetica Neue","Helvetica","Lucida Grande","Arial","Hiragino Sans GB","Microsoft Yahei","WenQuanYi Micro Hei","sans-serif";
font-size: 12px;color: #333;text-align:left;margin: 0;padding: 0;border:none;
background-color: #EEE;background-image: url(../images/bj.jpg);background-repeat: repeat;
}
a{color: #333333;text-decoration: none;cursor:pointer;}
a:hover,a:focus{text-decoration: underline;color: #CC0000;}

/* /global */

.cube-jumbotron{clear: both;margin:0 auto;width:100%;}
.cube-container{clear: both;margin:0 auto;padding:0 10px;width:80%;min-width:300px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.cube-mb{clear:both;margin-bottom:10px;}
.cube-h{clear: both;font-size:0;height:10px;}
.cube-dn{display:none;}
.cube-clear{clear:both;width:100%;font-size:0;height:0;overflow:hidden;}

/* 布局layout */
.cube-big-layout{float:left;width:74%;}
.cube-small-layout{float:right;width:25%;}
.cube-change-layout .cube-big-layout{float:right;}
.cube-change-layout .cube-small-layout{float:left;}
/* /布局layout */

/* cube-header */
.cube-header {position: relative;}
.cube-header .site{float:left; padding:10px 0;}
.cube-header .site .title{height:32px;line-height:32px;padding:10px 0;}
.cube-header .site .title a{font-size:32px;color: #333;text-decoration: none;}
.cube-header .site .title em{/*position: absolute;top:14px;left:220px;*/font-style:normal;line-height:12px;padding:0 0 0 5px;font-size:12px;color: #888;vertical-align:top;}
.cube-header .site .subtitle{padding:0 40px;height:14px;line-height:14px;color:#888;font-size: 12px;overflow:hidden;}
.cube-header .logo{position: absolute;right:10px;top:10px;padding:5px;width:50px; height:50px;border: 1px solid #CCCCCC; background-color:#FFF;}
.cube-header .logo img{width:50px; height:50px;}

/* cube-footer */
.cube-footer{padding:20px 10px;line-height:22px;text-align:center;}
.cube-footer span{font-family: Arial, Helvetica, sans-serif;}

/* 回顶部 */
.cube-top{display:none;position:fixed;bottom:10px;right:10px;width:40px;height:40px;line-height:40px;background-color:#666;color:#fff;font-size: 12px;text-align:center;cursor:pointer;}

/* 面包屑 */
.cube-breadcrumb{margin:5px auto;padding:0 10px;height:32px;line-height:32px;background-color:#efefef; font-size:14px;}

/* 区块block */
.cube-block{border: 1px solid #CCC;padding:10px 20px;background-color:#FFF;}
.cube-block .cube-title{border-bottom:1px solid #CCC;height:40px; line-height:40px;font-size:20px;margin-bottom:10px;}

/* 左侧菜单 较小区块block使用 */
.cube-menu{}
.cube-menu > li{padding:4px 5px;font-size:14px;color:#333;}
.cube-menu > ul{padding:4px 5px;}
.cube-menu > ul > li{padding:3px 10px;font-size:12px;}
.cube-menu > ul > li > a{color: #015BAB;}

/* 右侧目录 较大区块block使用 */
.cube-catalog{padding:10px}
.cube-catalog > li{padding:1px 10px;font-size:18px;}
.cube-catalog > ul{padding:1px 10px;}
.cube-catalog > ul > li{padding:1px 35px;font-size:14px;}

/* h123 */
.cube-article,.cube-guide{line-height:1.8;word-break:break-all;word-wrap:break-word;}
.cube-guide .h1{padding:28px 0px; font-size:28px;}
.cube-guide .h2{font-size:28px; padding:40px 0 20px 0;}
.cube-guide .h3{font-size:28px; padding:40px 0 20px 20px;}
.cube-guide .h3 a{text-decoration: none;cursor:auto;color: #333333;}
.cube-guide .text{font-size:14px; padding:20px 0;}
.cube-guide pre{font-size:12px;}

/* nav */
.cube-nav{clear: both;margin:0 auto;width:100%;background-color: #009ACE;}
.cube-nav .cube-container{height:40px;}

.cube-nav-brand{float:left;padding:0 10px 0 0;}
.cube-nav-brand a{font-size:18px;line-height:40px;color: #FFF;text-decoration: none;}
.cube-nav-brand a:hover,
.cube-nav-brand a:focus{color: #555;}

.cube-nav-left{float:left;}
.cube-nav-left > li{float:left;}
.cube-nav-right{float:right;}
.cube-nav-right > li{float:left;}

.cube-nav-left > li > a,
.cube-nav-right > li > a{font-size:14px;padding:0 10px; line-height:40px; display:block;color: #FFF;text-decoration: none;}

.cube-nav-left > li > a:hover,
.cube-nav-right > li > a:hover,
.cube-nav-left > li > a:focus,
.cube-nav-right > li > a:focus{background-color: #EEFFFF;color: #009ACE;}

.cube-nav-left > li > .active,
.cube-nav-right > li > .active{background-color: #FFF;color:#333;}

.cube-nav-dropdown{position: relative;}
.cube-nav-dropdown-menu{display:none;position: absolute;right:0;top:40px;width:120px;padding:5px;border: 1px solid #CCC;background-color: #FFF;}
.cube-nav-dropdown-menu > li > a{font-size:12px;padding:0 10px; line-height:22px; display:block;color: #333;text-decoration: none;}
.cube-nav-dropdown-menu > li > a:hover,
.cube-nav-dropdown-menu > li > a:focus{background-color: #EEFFFF;color: #009ACE;}
.cube-nav-dropdown-menu > li > .active{background-color: #FFF;color:#333;}
.cube-nav-divider{border-top: 1px solid #EEE;}
.cube-nav-dropdown .caret{display: inline-block;width: 0;height: 0;margin-left: 2px;vertical-align: middle;border-top: 4px dashed;border-top: 4px solid\9;border-right: 4px solid transparent;border-left: 4px solid transparent;}

.cube-navbar{display:block;}
.cube-nav-toggle{display:none;float:right;width:30px;height:22px;padding:9px 5px;color:#fff;cursor:pointer;}
.cube-nav-toggle > div {border: 1px solid #FFF;width:28px;height:18px;padding:2px 0 0 0;}
.cube-nav-toggle > div > span{display:block;margin:0 auto;width:18px;height:3px;font-size:0;border-bottom: 1px solid #FFF;}

/* /nav */

/* form */
.cube-form{width:80%;/*min-width:280px;*/margin:0 auto;padding:10px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.cube-form .line{width:100%;padding:10px 0 0 0;}
.cube-form .line .title{width:100%;font-size:14px; line-height:30px;}
.cube-form .line .title em{color:#CC0000;}
.cube-form .line .input{width:100%;}
.cube-form .line .input input{width:96%;height:26px;border: 1px solid #ddd;padding:0 5px;}
.cube-form .line .input .form-code{width:60px;height:26px;border: 1px solid #ddd;}
.cube-form .line .input .img-authcode{vertical-align:top;margin:0 10px;width:100px;height:26px;border: 1px solid #ddd;}
.cube-form .line .input a{color: #015BAB;}
.cube-form .line .msg{width:100%;font-size:12px;color:#888;line-height:30px;}
.cube-form .line .btn{padding:10px 0;}
.cube-form .line .btn a{color: #015BAB;margin:0 10px;}
.cube-btn{padding:0 20px;height:30;line-height:30px;color: #fff;background-color: #fe7300;}

.cube-ucenter-form{width:100%;}
/* /form */

/* media container layout */
@media (max-width: 768px) {
	.cube-container{width:100%;}
	.cube-big-layout,.cube-small-layout{width:100%;}
	.cube-big-layout{padding:0 0 10px 0;}
}
@media (min-width: 768px) and (max-width: 992px) {
	.cube-container{width:100%;}
	.cube-big-layout{width:74%;}
	.cube-small-layout{width:25%;}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.cube-container{width:90%;}
	.cube-big-layout{width:74%;}
	.cube-small-layout{width:25%;}
}
@media (min-width: 1200px) {
	.cube-container{width:80%;}
	.cube-big-layout{width:74%;}
	.cube-small-layout{width:25%;}
}
/* /media container layout */

/* media nav */
@media (max-width: 767px) {
	.cube-navbar{display:none;}
	.cube-nav-toggle{display:block;}

	.cube-navbar{float:left;clear: both;width:100%;padding:10px 0;}
	.cube-navbar ul li{clear: both;width:100%;}
	.cube-nav-left,.cube-nav-right{clear:both;width:100%;}
	
	.cube-nav-left > li > a,
	.cube-nav-right > li > a{clear:both;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}

	.cube-nav-dropdown{position: static;}
	.cube-nav-dropdown-menu{position: static;width:100%;padding:5px;border: none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
}
@media (min-width: 768px) {
	.cube-navbar{display:block;}
	.cube-nav-toggle{display:none;}
}
/* /media nav */
